{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Events
{% endblock %}

{% block content %}
    {% for event in events %}
<div><a href="{{ path('app_event_show', {id: event.id}) }}">{{ event.name }}</a></div>
    {%  endfor %}
{% endblock %}

