{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Index
{% endblock %}

{% block content %}
    {% for event in events %}
<div> {{ event.name }} <a href="{{ path('app_event_show', {id: event.id}) }}">Details</a></div>
    {%  endfor %}
{% endblock %}

