{% extends 'base.html.twig' %}

{% block title %}

    {{ parent() }}
    New

{% endblock %}

{% block content %}

{#    <div>Bitte Daten einfügen!</div>#}
{#    <br>#}

    {{ form(form) }}




{#    <form method="post" action="">#}
{#        <label for="name">Name</label>#}
{#        <input id="name" type="text" name="name" required>#}
{#        <br>#}
{#        <label for="description">Description</label>#}
{#        <input id="description" type="text" name="description" required>#}
{#        <br>#}
{#        <label for="seats">Booked Seats</label>#}
{#        <input id="seats" type="number" name="seats" required>#}
{#        <br>#}
{#        <input type="submit" name="create">#}
{#    </form>#}

{% endblock %}

