{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    Locations
{% endblock %}

{% block content %}
    {% for location in locations %}
        <div><a href="{{ path('app_location_show', {id: location.id}) }}">{{ location.name }}</a></div>
    {%  endfor %}
{% endblock %}